@use './variables' as *;
@use './mixin' as *;

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-primary;
	background: $color-primary;
	color: $color-white;
	line-height: 1.7;
	-webkit-tap-highlight-color: transparent;
	::selection {
		background: $color-bg-selection;
		color: $color-white;
	}
	&::before {
		filter: url(#grainy);
		position: fixed;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		z-index: 9999999999;
		pointer-events: none;
		opacity: 20%;
	}
}

:focus-visible {
	outline: 2px solid $color-outline-focus;
	outline-offset: 2px;
}

::-webkit-scrollbar {
	display: none;
}
