$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-primary-variant: var(--color-primary-variant);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-light: var(--color-light);
$color-text: var(--color-text);
$color-variable: var(--color-variable);
$color-text-primary: var(--color-text-primary);
$color-background: var(--color-background);
$color-surface: var(--color-surface);
$color-grey-light: var(--color-grey-light);
$color-grey-medium: var(--color-grey-medium);
$color-grey-dark: var(--color-grey-dark);
$color-grey-pale: var(--color-grey-pale);
$color-grey-verylight: var(--color-grey-verylight);
$color-grey-placeholder: var(--color-grey-placeholder);
$color-warning: var(--color-warning);
$color-bg-light: var(--color-bg-light);
$color-bg-selection: var(--color-bg-selection);
$color-outline-focus: var(--color-outline-focus);
$color-text-dark: var(--color-text-dark);
$color-text-secondary: var(--color-text-secondary);
$color-border: var(--color-border);
$color-hover-bg: var(--color-hover-bg);
$color-title-hover: var(--color-title-hover);
$color-tech-bg: var(--color-tech-bg);
$color-tech-bg-hover: var(--color-tech-bg-hover);
$color-tech-text: var(--color-tech-text);
$color-number: var(--color-number);
$color-number-hover: var(--color-number-hover);
$color-year: var(--color-year);
$color-line-gradient-start: var(--color-line-gradient-start);
$color-line-gradient-middle: var(--color-line-gradient-middle);
$color-line-gradient-end: var(--color-line-gradient-end);
$color-line-shine: var(--color-line-shine);
$color-accent: var(--color-accent);
$color-accent-hover: var(--color-accent-hover);
$color-shadow: var(--color-shadow);
$color-shadow-hover: var(--color-shadow-hover);

$transition: all 400ms ease;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Host Grotesk', sans-serif;
