$color-primary: rgb(232 232 227);
$color-secondary: rgb(57 54 50);
$color-primary-variant: #575151;
$color-white: #fff;
$color-black: rgb(8, 8, 7);
$color-light: rgba(255, 255, 255, 0.6);
$color-text: rgb(107 100 92);

$transition: all 400ms ease;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Host Grotesk', sans-serif;
