$color-bg: #131313;
$color-bg-variant: #2b2b2b;
$color-primary: #e0a96d;
$color-primary-variant: #575151;
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);

$transition: all 400ms ease;

$container-width-xl: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;