@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.button {
	width: max-content;
	display: inline-block;
	color: $color-primary;
	padding: rem(8) rem(16);
	border-radius: rem(6.4);
	cursor: pointer;
	border: rem(1) solid $color-primary;
	transition: $transition;
	@media #{$md} {
		padding: rem(12) rem(19.2);
	}
	@media #{$lg} {
		padding: rem(8) rem(16);
	}
	&:hover {
		background: $color-white;
		color: $color-bg;
		border-color: transparent;
	}
	&--primary {
		width: max-content;
		display: inline-block;
		color: $color-primary;
		padding: rem(8) rem(16);
		border-radius: rem(6.4);
		cursor: pointer;
		border: rem(1) solid $color-primary;
		transition: $transition;
		background: $color-primary;
		color: $color-bg;
		@media #{$md} {
			padding: rem(12) rem(19.2);
		}
	}
}
