@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.HomePortfolio {
	width: 100%;
	background-color: $color-black;
	color: $color-white;
	min-height: 100vh;
	padding: 3rem 1rem;

	@media #{$md} {
		padding: 5% 4%;
	}

	&__header {
		margin-bottom: 5rem;

		@media #{$md} {
			margin-bottom: 3rem;
		}
	}

	&__title {
		font-weight: 700;
		letter-spacing: -0.02em;
		line-height: 0.9;
		margin: 0;
		color: $color-grey-pale;
		font-size: clamp(2rem, 12vw, 4rem);

		@media #{$md} {
			font-size: clamp(3rem, 8vw, 8rem);
		}
	}

	&__container {
		position: relative;
		min-height: rem(400);
		@media #{$md} {
			min-height: rem(600);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__showMore {
		display: flex;
		justify-content: center;
		margin-top: 3rem;

		@media #{$md} {
			margin-top: 4rem;
		}
	}

	&__button {
		transition: all 0.3s ease;

		&:hover {
			transform: translateY(-2px);
		}
	}
}
