@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.HomeTestimonial {
	@include section-padding;

	h2 {
		color: $color-secondary;
		font-size: $heading-size-section;
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 0.75rem;
		text-wrap: balance;
		line-height: 92.5%;
		letter-spacing: -0.025em;
		text-align: left;
	}

	&__testimonial {
		display: flex;
		flex-direction: column;
		row-gap: 2.5rem;
	}
}
