@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.TextInput {
	:global {
		.TextInput__input {
			width: 100%;
			border-radius: 0.5rem;
			border: 2px solid $color-primary-variant;
			resize: none;
			border-radius: 0.75rem;
			border-width: 1px;
			border-color: rgb(191 191 177);
			background-color: transparent;
			padding: 0.75rem 0.25rem 0.75rem 1.25rem;
			font-size: 1.125rem;
			font-weight: 600;
			letter-spacing: 0;
			color: rgb(140 140 115);
			outline: 2px solid transparent;
			outline-offset: 2px;
			transition-property: all;
			transition-duration: 0.3s;
			&::placeholder {
				color: #babaad;
				font-family: $font-primary;
				font-size: 1rem;
			}
		}
		.TextInput__label {
			label {
				font-size: 1rem;
				font-weight: 500;
				letter-spacing: 0;
				color: $color-secondary;
				margin-bottom: 0.25rem;
			}
			span {
				color: rgb(158 31 31);
				padding-left: 0.25rem;
			}
		}
		.TextInput__errors {
			height: 20px;
		}
		.TextInput__form-errors {
			color: rgb(158 31 31);
			font-size: rem(12);
			margin-left: rem(4);
		}
	}
}

.TextInput__default {
	:global {
	}
}
