@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.MaskText {
	.MaskText__lineMask {
		overflow: hidden;
		span {
			display: inline-block;
			white-space: nowrap;
			margin-right: rem(2);
		}
	}
}
