@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.Cursor {
	display: none;

	&__rounded {
		border-radius: 100%;
		mix-blend-mode: difference;
		pointer-events: none;
	}

	@media #{$md} {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}
