@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.TextArea {
	.TextArea__input {
		width: 100%;
		border: rem(2) solid $color-primary-variant;
		resize: none;
		border-radius: 0.75rem;
		border-width: rem(1);
		border-color: $color-grey-light;
		background-color: transparent;
		padding: 0.75rem 0.25rem 0.75rem 1.25rem;
		font-size: 1.125rem;
		font-weight: 600;
		letter-spacing: 0;
		color: $color-grey-dark;
		outline: rem(2) solid transparent;
		outline-offset: rem(2);
		transition-property: all;
		transition-duration: 0.3s;
		&::placeholder {
			color: $color-grey-placeholder;
			font-family: $font-primary;
			font-size: 1rem;
		}
	}
	.TextArea__label {
		label {
			font-size: 1rem;
			font-weight: 500;
			letter-spacing: 0;
			color: $color-secondary;
			margin-bottom: 0.25rem;
		}
		span {
			color: $color-warning;
			padding-left: 0.25rem;
		}
	}
	.TextArea__errors {
		height: rem(20);
	}
	.TextArea__form-errors {
		color: $color-warning;
		font-size: rem(12);
		margin-left: rem(4);
	}
}
