@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.footer {
	padding: rem(48) 0;
	text-align: center;
	font-size: rem(14.4);
	position: relative;
	.footer__contact {
		padding-left: 4%;
		padding-right: 4%;
		width: 100%;
		margin-top: 3rem;
		display: flex;
		flex-direction: column;
		span {
			font-size: 1rem;
			color: $color-secondary;
			font-weight: 700;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1.25rem;
			@media #{$md} {
				font-size: 1.25rem;
			}
		}
		a {
			position: relative;
			color: inherit;
			text-decoration: inherit;
			&::before {
				position: absolute;
				bottom: -0.5rem;
				left: 0;
				height: 0.25rem;
				width: 100%;
				transform-origin: right;
				--tw-scale-x: 0;
				transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0)
					scaleY(1);
				background-color: $color-secondary;
				transition-property: transform;
				transition-duration: 0.7s;
				transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
				content: '';
				@media #{$md} {
					bottom: -1rem;
					height: 0.5rem;
				}
			}
			&:hover {
				&::before {
					transform-origin: left;
					transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1)
						scaleY(1);
				}
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	a {
		color: $color-text;
	}
	.footer__column {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.footer__bg {
		opacity: 1;
		z-index: -20;
		transform: translateX(-50%) scale(1);
		width: 50%;
		height: fit-content;
		position: absolute;
		bottom: 0;
		left: 50%;
		max-width: 100%;
		vertical-align: middle;
	}
	.footer__music {
		border-radius: rem(50);
		background-color: rgb(57, 54, 50);
		width: rem(380);
		padding: rem(16) rem(42) rem(16) rem(20);
		display: flex;
		flex-direction: row;
		gap: rem(20);
		margin-bottom: rem(30);
		align-items: center;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		margin-top: rem(80);
		.music__title {
			text-align: left;
			h2 {
				font-size: rem(15);
				font-weight: 400;
				color: $color-primary;
			}
			span {
				font-size: rem(16);
				font-weight: 600;
				a {
					color: $color-white;
				}
			}
		}
	}
	.footer__permalinks {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		gap: rem(24);
		margin: 0 auto rem(48);
		cursor: pointer;
		@media #{$lm} {
			gap: rem(32);
			flex-direction: row;
		}
	}
	.footer__socials {
		display: flex;
		justify-content: center;
		margin-bottom: rem(41.6);
		gap: rem(16);
		@media #{$lm} {
			margin-bottom: rem(32);
		}
		a {
			background: $color-text;
			color: $color-white;
			padding: rem(12.8);
			border-radius: rem(11.2);
			display: flex;
			border: rem(1) solid transparent;
			&:hover {
				background: transparent;
				color: $color-text;
				border-color: $color-text;
			}
		}
	}
	.footer__copyright {
		margin-bottom: rem(50);
		color: $color-text;
	}
	.footer__logo {
		display: flex;
		justify-content: center;
		padding-bottom: rem(32);
		padding-top: rem(50);
		img {
			width: auto;
			height: auto;
		}
	}
}
