@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.portfolio-card__item {
	width: 100%;
	padding-top: 0;
	@media #{$md} {
		width: 45%;
	}
	.portfolio-card__image {
		margin-bottom: 1rem;
		img {
			border-radius: 0.25rem;
			height: 100%;
			width: 100%;
			transition-duration: 1.2s;
			transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
			&:hover {
				transform: scale(1.05);
			}
		}
	}
	.portfolio-card__description {
		color: rgb(221 221 213);
		font-weight: 700;
		font-size: 1.5rem;
		text-wrap: balance;
		line-height: 92.5%;
		letter-spacing: -0.025em;
		display: flex;
		flex-direction: row;
		row-gap: 1rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 0.75rem;
		gap: rem(15);
		h3 {
			color: rgb(221 221 213);
		}
		.portfolio-card__items {
			font-size: 1.5rem;
			width: fit-content;
			text-wrap: balance;
			line-height: 92.5%;
			letter-spacing: -0.025em;
			display: flex;
			font-weight: 500;
		}
		.portfolio-card__techs {
			height: fit-content;
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 0.5rem;
			span {
				padding-left: 0.75rem;
				padding-right: 0.75rem;
				border: rem(1) solid rgb(162 158 154);
				border-width: rem(1);
				border-radius: rem(9999);
				color: rgb(162 158 154);
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 0;
				font-size: 0.95rem;
			}
		}
		.portfolio-card__year {
			color: rgb(8 8 7);
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			background-color: rgb(162 158 154);
			border: rem(1) solid rgb(162 158 154);
			border-radius: rem(9999);
			height: fit-content;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 0.5rem;
			font-size: 0.95rem;
		}
	}
}
