@use 'styles/shared/mixin' as *;
@use 'styles/shared/variables' as *;

.HomeCollaborations {
	background-color: $color-black;
	@include section-padding;
	border-bottom-left-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	padding-bottom: rem(200);

	h2 {
		color: $color-grey-pale;
		padding-bottom: 2rem;
		font-weight: 700;
		text-transform: uppercase;
		text-align: left;
		font-size: $heading-size-section;
		overflow-wrap: break-word;
		word-break: break-word;
	}

	&__titleFull {
		display: none;

		@media #{$sm} {
			display: block;
		}
	}

	&__titleShort {
		display: block;

		@media #{$sm} {
			display: none;
		}
	}

	&__collaborations {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: rem(100);
		align-items: center;

		@media #{$md} {
			flex-direction: row;
		}
	}

	&__companies {
		height: rem(100);
		width: 100%;
		max-width: rem(250);

		svg {
			height: 100%;
			width: 100%;
		}

		@media #{$md} {
			width: 33%;
		}
	}

	[data-theme='light'] & .HomeCollaborations__companies svg {
		filter: brightness(0.5) saturate(0.8);
	}
}
